section#title {
    font-size: 1.8rem;
    font-weight: bold;
}

section#wechat {
    text-align: center;
    margin: 2rem;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5 {
    font-weight: bold;
}

.post-content h1 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem;
}

.post-content h2 {
    font-size: 1.3rem;
    margin: 0.8rem 0 0.8rem;
}

.post-content h3 {
    font-size: 1.15rem;
    margin: 0.6rem 0 0.6rem;
}

.post-content h4 {
    font-size: 1.1rem;
}

.post-content p {
    margin: 1.4rem 0;
}

blockquote p {
    font-size: 1rem;
}

table th, td {
    font-size: 0.8rem;
}

code {
    font-family: 'Courier New', Courier, monospace;
}